.container.text-center.well#vertical_center
  %h2 How much would you like to bet?
  %h3= "Current balance: #{session[:bank]}"
  %br
  %form{action: '/bet', method: 'post'}
    %input{type: 'text'}
      %br
      %button.btn.btn-inverse{type: 'submit'}
        %i.fa.fa-money
        Place bet