!!! 5
%html
  %head
    %meta{charset: 'utf-8'}
    %meta{name: "viewport", content: 'width=device-width', 'initial-scale' => '1'}
    
    %link(rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css")
    %link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
    %link(rel="stylesheet" href="/application.css")
    %link(rel="stylesheet" media="(max-width: 640px)" href="/max-640px.css")
    %title Blackjack | Casino
  %body
    %nav.navbar.navbar-default.navbar-fixed-top
      .container-fluid
        %ul.nav.navbar-nav
          %li
            %a.navbar-brand{href: "/new_player"}
              %i.fa.fa-refresh.fa-spin
              New Game
    .container-fluid
      -if @error
        .alert.alert-danger.text-center.blink
          =@error
      -if @success
        .alert.alert-success.text-center.blink
          =@success
      =yield
        
  %script{src: "https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"}
  %script{src: "/vendor/bootstrap/js/bootstrap.min.js"}
  %script{src: "/application.js"}

