!!! 5
%html
  %head
    %meta{charset: 'utf-8'}
    %meta{name: "viewport", content: 'width=device-width', 'initial-scale' => '1'}
    
    %link(rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css")
    %link(rel="stylesheet" href="/application.css")
    %link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
    %title Blackjack | Casino
  %body
    %nav.navbar.navbar-default.navbar-fixed-top
      .container-fluid
        %ul.nav.navbar-nav
          %li
            %a.navbar-brand{href: "/new_player"}
              %i.fa.fa-refresh.fa-spin
              New Game
          %li
            %h5.glyphicon.glyphicon-info-sign.shadow
              %ul.directions.dark_well
                %p
                  1) Place a bet.
                %p
                  2) Choose to hit(take a card),
                  or stay(pass to dealer).
                %p
                  3) 21 you win Blackjack,
                  larger is a loss.
                %p
                  5) Otherwise closest to 21 wins.
                %p
                  6) Blackjack = plus 1.5x bet
                %p
                  Win = plus bet
                %p
                  Loss = minus bet
    .container-fluid
      =yield
        
  %script{src: "https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"}
  %script{src: "/vendor/bootstrap/js/bootstrap.min.js"}
  %script{src: "/application.js"}

