.alert.alert-danger.blink.error
.container
  .col-sm-6.col-sm-offset-3
    %img.img-responsive{src: 'images/BlackJack.jpg'}

.container.text-center#vertical_center
  .col-md-8.col-md-offset-2.well
    %h2
      Hello,
      %br
      what's your name?

    %form#name{action: "/new_player", method: "post"}
      %input.name{type: 'text', name: 'username', placeholder: "Name"}
      %br
      %br
      %button.btn.btn-success{type: 'submit'}
        Play
        %i.fa.fa-user-plus
  
