a:hover {
  text-decoration: none;
}

body {
  background: #216421 url('images/pool_table.png');
  color: #640303;
  padding-top: 60px;
}

h1{
  color: #401A1A;
  text-shadow: 2px 2px 3px #9F730E;
  margin-left: .16em;
}


.bet {
  font-size: 1.1em;
  letter-spacing: -1px;
}

.alert-info {
  background: #5F1C1C;
  color: #F1D19D;
  border: #9D8383;
  font-style: italic;
  position: relative;
  border: 1px solid #D49F10;
  box-shadow: .1em .1em .6em .4em inset;
  padding: 1.2em 0;
}

.ruler {
  border: 0;
  height: 1px;
  background: #640303;
  box-shadow: .1em .1em .8em .4em #531313;
}

.btn-sm {
  margin-left: -4%;
}

.heading {
  margin-left: 5em;
}

.form-actions {
  margin: 0;
  text-align: center;
  background-color: transparent;
}

#hit {
  margin-bottom: 4px;
}

.card_image {
  margin: 0 -2em .3em .6em;
  display: inline
}

.total {
  padding: 4.6% 0;
}

.welcome {
  margin-top: -8px;
  color: #401A1A;
  text-shadow: 2px 2px 3px #9F730E;
}

.well {
   background-color: rgba(245, 245, 245, 0.3);
}

.restart {
  font-size: 1.1em;
}

#vertical_center {
  margin-top: 1.5%;
}

/* Custom buttons */
.btn-xlarge {
    padding: 2% 40%;
    font-size: 22px;
    line-height: .5;
    border-radius: 8px;
}

.btn-dark {
  color: #ffffff;
  background-color: #000000;
  border-color: #777777;
  margin-top: 3px;
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active,
.btn-dark.active,
.open .dropdown-toggle.btn-dark {
  color: #ffffff;
  background-color: #353535;
  border-color: #585858;
}

.btn-dark:active,
.btn-dark.active,
.open .dropdown-toggle.btn-dark {
  background-image: none;
}

.pos {
  position: absolute;
}

/* coin container */
#coin {
  width: 32px;
  height: 32px;
  padding-top: 1.4em;
  perspective: 70;
  -webkit-perspective: 70;
  position: relative;
}

.coin {
  height: 100%;
  width: 100%;
  position: absolute;
  transform-style: preserve-3d;
}

.coin .side {
  position: absolute;
  backface-visibility: hidden;
}

.coin .back {
  transform: rotateY(180deg);
}

/* Animation for alerts */
.blink {
  -webkit-animation: blinker 1.6s ease-in-out 3;
  -moz-animation: blinker 1.6s ease-in-out 3;
  animation: blinker 1.6s ease-in-out 3;
}

@-moz-keyframes blinker {  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@keyframes blinker { 
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

/* Point animation for dealer button */
.dealer_button {
  -webkit-animation: point 1.4s infinite linear alternate;
  -moz-animation: point 1.4s infinite linear alternate;
  animation: point 1.4s infinite linear alternate;
}

@-moz-keyframes point {  
  from {margin-left:-200%;}
    to {margin-left: 80%;}
}

@-webkit-keyframes point {  
  from {margin-left:-200%;}
    to {margin-left: 80%;}
}

@keyframes point {  
  from {margin-left:-200%;}
    to {margin-left: 80%;}
}

/* Spin Animation for bet alert */
.spin {
  -webkit-animation: spin 2.2s infinite linear alternate;
  -moz-animation: spin 2.2s infinite linear alternate;
  animation: spin 2.2s infinite linear alternate;
}

@-moz-keyframes spin {
  from {-webkit-transform: rotate(0deg);
          margin-left: -35%;}
    to {-webkit-transform: rotate(520deg);
          margin-left: -4%;}
}
@-webkit-keyframes spin {
  from {-webkit-transform: rotate(0deg);
          margin-left: -35%;}
    to {-webkit-transform: rotate(520deg);
          margin-left: -4%;}
}
@keyframes spin {
  from {transform: rotate(0deg);
          margin-left: -35%;}
    to% {transform: rotate(520deg);
          margin-left: -4%;}
}

.spin_r {
  -webkit-animation: spin_r 2.2s infinite linear alternate;
  -moz-animation: spin_r 2.2s infinite linear alternate;
  animation: spin_r 2.2s infinite linear alternate;
}

@-moz-keyframes spin_r {
  from {-webkit-transform: rotate(510deg);
          margin-left: 30%;}
    to {-webkit-transform: rotate(0deg);
          margin-left: 0%;}
}
@-webkit-keyframes spin_r {
  from {-webkit-transform: rotate(510deg);
          margin-left: 30%;}
    to {-webkit-transform: rotate(0deg);
          margin-left: 0%;}
}
@keyframes spin_r {
  from {transform: rotate(510deg);
          margin-left: 30%;}
    to {transform: rotate(0deg);
          margin-left: 0%;}
}

/* Rotate animation for header */
.rotate {
  -webkit-animation: rotate 1.5s linear infinite;
  -moz-animation: rotate 1.5s linear infinite;
  animation: rotate 1.5s linear infinite;
}

@-moz-keyframes rotate {
  from { -moz-transform: rotateY( 0deg );}
    to { -moz-transform: rotateY( 360deg );}
}
@-webkit-keyframes rotate {
  from { -webkit-transform: rotateY( 0deg );}
    to { -webkit-transform: rotateY( 360deg );}
}
@keyframes rotate {
  from { transform: rotateY( 0deg );}
    to { transform: rotateY( 360deg );}
}

/* Return button animation */
.return {
  -webkit-animation: return 2s infinite ease-out alternate;
  -moz-animation: return 2s infinite ease-out alternate;
  animation: return 2s infinite ease-out alternate;
}

@-moz-keyframes return {
  from { -moz-transform: rotate( 55deg );}
    to { -moz-transform: rotate( -30deg );}
}
@-webkit-keyframes return {
  from { -webkit-transform: rotate( 55deg );}
    to { -webkit-transform: rotate( -30deg );}
}
@keyframes return {
  from { transform: rotate( 55deg );}
    to { transform: rotate( -30deg );}
}

/* Custom navbar */
.navbar-nav > li > a {padding-top:8px !important; padding-bottom:10px !important;}
.navbar {min-height:40px !important}
.navbar-fixed-top {
    height: 40px; 
  }
.navbar-default {
  background-color: #691827;
  border-color: #c2754c;
}
.navbar-default .navbar-brand {
  color: #88893b;
  font-size: 1.2em;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #B8A411;
}
.navbar-default .navbar-text {
  color: #FF4200; /*#88893b;*/
}
.navbar-default .navbar-nav > li > a {
  color: #C3776B;
  text-shadow: 2px 2px 3px #88893b;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #B8A411;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #B8A411;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #B8A411;
  background-color: #c2754c;
}
.navbar-default .navbar-toggle {
  border-color: #c2754c;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #c2754c;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #88893b;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #88893b;
}
.navbar-default .navbar-link {
  color: #88893b;
}
.navbar-default .navbar-link:hover {
  color: #5f2460;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #88893b;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #5f2460;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #5f2460;
    background-color: #c2754c;
  }
  .navbar-nav > li > a {padding-top: 0 !important; padding-bottom: 5px !important;}
  .navbar {min-height:20px !important}
  .navbar-fixed-top {
    height: 35px; 
  }
  .spin_r {
  -webkit-animation: spin_r paused;
  -moz-animation: spin_r paused;
  animation: spin_r paused;
  }
  .spin {
    -webkit-animation: spin paused;
    -moz-animation: spin paused;
    animation: spin paused;
  }
}
